/* Global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, li, span, a, input, textarea, p, label, section {
    font-family: 'Open sans', sans-serif;
    color: #373737;
}

ul {
    list-style-type: none;
}

a, button, .button {
    cursor: pointer;
    outline: none;
    border: none;
    color: inherit;
    text-decoration: none;
}

.section {
    position: relative;
    padding: 50px clamp(5%, calc((100vw - 1600px) / 2), 1000px);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EC950E;
    height: 50px;
    border-radius: 50px;
    padding: 10px 40px;
    font-weight: 900;
    text-transform: uppercase;
    transition: .4s all ease-in-out;
}

.orange {
    color: #DB840D;
}

.sectionHeader {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    z-index: 3;
}

.sectionHeader::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #EC950E;
    width: 50px;
    height: 5px;
}

/* Header */
.landingPage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.landingPage--page {
    height: auto;
}

.landingPage--page .siteHeader {
    background: #F6F6F6;
}

.siteHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 40px clamp(5%, calc((100vw - 1600px) / 2), 1000px);
}

.siteHeader__logo {
    width: 280px;
    height: auto;
    position: relative;
    z-index: 2;
}

.landingPage__img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: auto;
    height: 100vh;
    z-index: -1;
}

.siteMenu__list {
    display: flex;
}

.siteMenu--mobile {
    display: none;
}

.siteMenu__item:not(:last-child) {
    margin: 0 20px;
}

.siteMenu__item a {
    padding: 0 30px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .2s all;
}

.siteMenu__item:last-child a {
    padding-right: 0;
}

.siteMenu__item a:hover {
    color: #EC950E;
}

.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F6F6F6;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: right;
    transition: .4s all ease-in-out;
}

.mobileMenu > * {
    opacity: 0;
    transition: .2s all ease-in-out;
}

.mobileMenu__closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: auto;
    background: transparent;
}

.mobileMenu__closeBtn__img {
    width: 100%;
    height: auto;
}

.mobileMenu__logo {
    width: 60%;
    max-width: 280px;
    height: auto;
    margin-bottom: 100px;
}

.mobileMenu__list {

}

.mobileMenu__item {
    text-align: center;
    margin: 30px 0;
}

/* Landing page */
.landingPage__content {
    position: absolute;
    top: 50%;
    left: calc((100vw - 1600px) / 2);
    transform: translateY(-30%);
}

.landingPage__header {
    font-size: 72px;
    font-weight: 900;
    position: relative;
}

.landingPage__header::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 50px;
    height: 5px;
    background: #EC950E;
}

.landingPage__subheader {
    font-size: 24px;
    font-weight: 400;
    margin: 25px 0 40px;
    max-width: 80vw;
}

.button--landing {
    height: 75px;
    width: clamp(100px, 350px, 85vw);
    font-weight: 700;
    font-size: 17px;
    transition: .4s all;
}

.button:hover {
    background: #DB840D;
}

/* About us */
.aboutUs {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.aboutUs::before, .aboutUs::after {
    content: "";
    position: absolute;
    border-radius: 60%;
    background: #DCDCDC;
    z-index: 0;
}

.aboutUs::before {
    left: -200px;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 500px;
}

.aboutUs::after {
    right: -200px;
    top: -200px;
    width: 400px;
    height: 400px;
}

.aboutUs__content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.aboutUs__content::after {
    content: url("./img/bg-2.png");
    width: 159px;
    height: 98px;
    position: absolute;
    top: 70px;
    right: 60px;
    z-index: 2;
}

.aboutUs__header {
    font-size: 32px;
    position: relative;
}

.aboutUs__header::before {
    content: "";
    width: 40px;
    height: 5px;
    background: #EC950E;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.aboutUs__subheader {
    font-size: 24px;
    font-weight: 400;
    margin: 5px auto;
}

.aboutUs__text {
    margin: 25px auto;
    max-width: 1200px;
    text-align: center;
    font-size: 18px;
}

.button--aboutUs {
    width: 300px;
    height: 75px;
    margin-top: 20px;
}

/* Strengths */
.strengths {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 40px;
    overflow: hidden;
    position: relative;
}

.strengths * {
    z-index: 1;
}

.strengths::before, .strengths::after {
    content: "";
    position: absolute;
    background: #DCDCDC;
    z-index: 0;
    opacity: .5;
}

.strengths::before {
    width: 300px;
    height: 500px;
    left: -200px;
    top: 100px;
    transform: rotate(30deg);
}

.strengths::after {
    width: 300px;
    height: 300px;
    right: -150px;
    top: 200px;
    transform: rotate(-40deg);
}

.strengths__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.strengths__item {
    background: #F6F6F6;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    box-shadow: 0px 5px 35px #0000001A;
}

.strengths__item:not(:last-child) {
    margin-right: 70px;
}

.strengths__item:nth-child(2), .strengths__item:last-child {
    position: relative;
    z-index: 111;
}

/*.strengths__item:nth-child(2)::before {*/
/*    content: url("./img/bg-2.png");*/
/*    position: absolute;*/
/*    bottom: -70px;*/
/*    left: -40px;*/
/*    z-index: -7;*/
/*}*/

.strengths__item:last-child::after {
    content: url("./img/wave.png");
    position: absolute;
    top: -70px;
    right: -70px;
    z-index: 0;
}

.strengths__item__icon {
    width: 30%;
    height: auto;
    margin-bottom: 30px;
}

.strengths__item__header {
    font-size: 21px;
    text-align: center;
}

.strengths__item__text {
    font-size: 14px;
    text-align: center;
    position: relative;
    margin-top: 40px;
}

.strengths__item__text::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 5px;
    background: #EC950E;
}

/* Process */
.process {
    background: #F6F6F6;
    position: relative;
    overflow: hidden;
}

.process::before {
    content: url("./img/process-1.png");
    position: absolute;
    top: 220px;
    left: -180px;
    z-index: 0;
}

.process::after {
    content: url("./img/process-2.png");
    position: absolute;
    top: 150px;
    right: -220px;
    z-index: 0;
}

.process__bigHeader {
    display: none;
}

.process__row {
    margin: 80px auto 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1400px;
}

.process__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 600px;
}

.process__number {
    font-size: 68px;
    color: #EC950E;
    margin-right: 30px;
    margin-top: -20px;
}

.process__header {
    font-size: 18px;
    margin-bottom: 15px;
}

.process__text {
    font-size: 16px;
}

.process__item--second {
    margin: 30px 0 0 120px;
}

.process__img {
    width: 70%;
    height: auto;
    margin-left: -50px;
}

.process__item--third {
    margin: 50px 0 0 -50px;
}


/* Offer */
.offer {
    position: relative;
    padding-top: 100px;
    overflow: hidden;
}

.offer::before {
    content: "";
    background: #DCDCDC;
    width: 450px;
    height: 450px;
    position: absolute;
    top: -100px;
    left: -100px;
    border-radius: 50%;
    z-index: -1;
    opacity: .5;
}

.offer::after {
    content: url("./img/bg-2.png");
    right: 70px;
    top: 140px;
    position: absolute;
}

.offer .sectionHeader::after {
    content: url("./img/bg-1.png");
    position: absolute;
    left: -50px;
    bottom: -750px;
    z-index: -1;
}

.offer__content {
    display: grid;
    grid-template-columns: repeat(3, 310px);
    grid-row-gap: 60px;
    justify-content: space-between;
    margin: 90px auto 50px;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.offer__item {
    position: relative;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 350px;
}

.offer__item__img {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
    filter: grayscale(1);
}

.offer__item__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offer__item__header {
    font-size: 24px;
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0px 2px 3px #00000080;
}

.offer__item__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 45px;
    border-radius: 45px;
    background: #EC950E;
    text-transform: uppercase;
    font-weight: 900;
    transition: .2s all ease-in-out;
}

.offer__item__btn:hover {
    background: #DB840D;
}

/* Testimonials */
.testimonials {
    overflow: hidden;
    position: relative;
    background: #F6F6F6;
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimonials::before, .testimonials::after {
    content: "";
    position: absolute;
    background: #DCDCDC;
    opacity: .5;
}

.testimonials::before {
    width: 400px;
    height: 400px;
    transform: rotate(20deg);
    left: -200px;
    top: 100px;
}

.testimonials .sectionHeader::after {
    content: url("./img/opinie-bg2.png");
    position: absolute;
    right: -40px;
    top: -60px;
    z-index: 2;
}

.testimonials::after {
    width: 400px;
    height: 400px;
    right: -200px;
    top: 0;
    transform: rotate(-30deg);
}

.testimonials__carousel {
    margin-top: 50px;
    position: relative;
    z-index: 2;
}


.testimonials__carouselWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.testimonials__carouselWrapper::before {
    content: url("./img/opinie-bg1.png");
    position: absolute;
    left: -50px;
    bottom: -40px;
}

.testimonials__item {
    background-color: #fff;
    background-image: url("./img/quotes.svg");
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    position: relative;
    padding: 50px 20px;
    margin: 0 25px;
}

.testimonials__item__text {
    text-align: center;
    position: relative;
    margin: 50px 0 80px;
    font-size: 15px;
}

.testimonials__item__text::before {
    content: "";
    position: absolute;
    background: #EC950E;
    width: 50px;
    height: 5px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonials__item__author {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 700;
}

.testimonials__arrow {
    background: transparent;
    z-index: 2;
    margin: 0 0 0 10px;
}

.testimonials__arrow--right .testimonials__arrow__img {
    transform: rotate(180deg);
}

/* Contact */
.contact {
    padding-top: 100px;
    position: relative;
}

#contact {
    position: absolute;
    left: 0;
    top: -120px;
}

.contact::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    left: -250px;
    top: 50%;
    transform: translateY(-50%);
    background: #DCDCDC;
    border-radius: 50%;
    z-index: -1;
}

.contact::after {
    content: url("./img/bg-1.png");
    position: absolute;
    top: 120px;
    left: 80px;
    z-index: -1;
}

.contact__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}

.contact__hint {
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row .contact__label:not(:last-of-type) {
    margin-right: 15px;
}

.contact__map {
    width: calc(60% - 50px);
    height: auto;
}

.contact__form {
    position: relative;
    width: 60%;
    margin-left: 50px;
    transition: .4s all ease-in-out;
}

.contact__section {
    width: 30%;
}

.contact__address {
    margin-top: 50px;
    text-align: center;
}

.contact__img {
    width: 100%;
}

.contact__label {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 3px solid #EC950E;
}

.contact__label__icon {
    width: 20px;
    margin-right: 15px;
    height: auto;
}

.contact__input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.contact__textarea {
    outline: none;
    width: 100%;
    height: 200px;
    border: none;
    resize: none;
}

.button--formSubmit {
    width: 100%;
}

.contact__label--checkbox {
    border: none;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    padding: 0;
}

input[type=checkbox] {
    margin-right: 15px;
}

/* Contact form 7 */
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: #DB840D;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.wpcf7-not-valid-tip {
    display: none !important;
}

/* Blog section */
.blogSection {
    position: relative;
    background: #F6F6F6;
    overflow: hidden;
    padding-top: 100px;
}

.blogSection::before, .blogSection::after {
    content: "";
    position: absolute;
    background: #DCDCDC;
    width: 400px;
    height: 400px;
    z-index: 0;
    opacity: .5;
}

.blogSection::before {
    bottom: 0;
    left: -200px;
    transform: rotate(25deg);
}

.blogSection::after {
    top: -150px;
    right: -250px;
    transform: rotate(-40deg);
}

.blogSection__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 80px 0 50px;
    z-index: 2;
    position: relative;
}

.blogSection__item {
    width: 22%;
    background: transparent;
}

.blogSection__item p {
    font-size: 14px;
}

.blogSection__item:hover .blogSection__item__img {
    transform: scale(1.2);
}

.blogSection__item__imgWrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.blogSection__item__img {
    width: 100%;
    height: auto;
    transition: .4s all ease-in-out;
}

.blogSection__item__title {
    position: relative;
    font-size: 21px;
    margin: 40px 0 20px;
}

.blogSection__item__title::before {
    content: "";
    width: 40px;
    height: 5px;
    background: #EC950E;
    position: absolute;
    left: 0;
    top: -15px;
}

.blogSection__item__excerpt {
    font-size: 14px;
}

/* Social media */
.sectionSubheader {
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    margin: 10px auto 30px;
}

/* Catalog */
.section--catalog {
    background: #F6F6F6;
}

.catalog__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px clamp(5vw, calc((100vw - 1300px) / 2), 40vw);
}

.catalog__imgWrapper {
    width: 45%;
}

.catalog__img {
    width: 100%;
    height: auto;
}

.catalog__content {
    width: 45%;
}

.catalog__header {
    position: relative;
    font-size: 28px;
}

.catalog__header::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 40px;
    height: 5px;
    background: #DB840D;
}

.catalog__subheader {
    font-weight: 400;
    margin: 20px 0;
    font-size: 21px;
}

.button--catalog {
    margin-top: 30px;
}

/* Znakowanie */
.section--znakowanie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.znakowanie__img {
    display: block;
    margin: 30px auto;
    width: clamp(100px, 900px, 90vw);
    height: auto;
}

.znakowanie__text {
    text-align: center;
    margin: 30px auto;
    max-width: 900px;
}

.button--znakowanie {
    width: 350px;
    height: 75px;
}

/* Footer */
.footer {
    background: #F6F6F6;
    padding: 20px 5vw;
}

.footer__header {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

/* Catalogs page */
.catalogs {
    margin-top: 50px;
}

.catalogs__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 80px;
}

.catalogs__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 21%;
    margin-bottom: 50px;
}

.catalogs__item__img {
    width: 100%;
    height: auto;
}

.catalogs__item__header {
    position: relative;
    text-align: center;
    margin: 30px auto 20px;
}

.catalogs__item__header::before {
    content: "";
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 30px;
    height: 5px;
}

#map {
    width: 100%;
    height: 600px;
}

.contact__form__afterSubmit {
    display: none;
    opacity: 0;
    text-align: center;
    font-size: 21px;
    margin: 40px auto;
    transition: .4s all ease-in-out;
}

/* Page */
.page__content {
    margin: 50px auto;
}

.page__content p {
    margin: 20px 0;
}